* text=auto !eol
/pom.xml -text
src/main/java/org/onehippo/forge/content/pojo/binder/ContentNodeBinder.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/binder/ContentNodeBindingException.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/binder/ContentNodeBindingItemFilter.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/binder/jcr/DefaultContentNodeJcrBindingItemFilter.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/binder/jcr/DefaultJcrContentNodeBinder.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/common/BasePathBasedContentNodeItemFilter.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/common/ContentNodeException.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/common/ContentValueConverter.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/common/jcr/DefaultJcrContentValueConverter.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/common/util/ContentNodeTraversingVisitor.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/common/util/ContentNodeTraversingVisitorUtils.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/common/util/GlobPattern.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/mapper/ContentNodeMapper.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/mapper/ContentNodeMappingException.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/mapper/ContentNodeMappingItemFilter.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/mapper/jcr/DefaultJcrContentNodeMapper.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/mapper/jcr/DefaultJcrItemMappingFilter.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/mapper/jcr/hippo/DefaultHippoJcrItemMappingFilter.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/mapper/jcr/hippo/DocumentVariantNodeMappingFilter.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/model/BinaryValue.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/model/ContentItem.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/model/ContentNode.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/model/ContentProperty.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/content/pojo/model/ContentPropertyType.java -text svneol=unset#text/plain
src/site/resources/images/hippo-jcr-pojo-bind.png -text
src/site/site.xml -text svneol=unset#text/plain
src/site/xdoc/build-from-source.xml -text svneol=unset#text/plain
src/site/xdoc/examples-bindings.xml -text svneol=unset#text/plain
src/site/xdoc/examples-mappings.xml -text svneol=unset#text/plain
src/site/xdoc/index.xml -text svneol=unset#text/plain
src/site/xdoc/install.xml -text svneol=unset#text/plain
src/site/xdoc/release-notes.xml -text svneol=unset#text/plain
src/test/java/org/onehippo/forge/content/pojo/binder/jcr/DefaultJcrContentNodeBinderTest.java -text svneol=unset#text/plain
src/test/java/org/onehippo/forge/content/pojo/common/jcr/BaseHippoJcrContentNodeTest.java -text svneol=unset#text/plain
src/test/java/org/onehippo/forge/content/pojo/mapper/jcr/DefaultJcrContentNodeMapperTest.java -text svneol=unset#text/plain
src/test/java/org/onehippo/forge/content/pojo/model/BinaryValueTest.java -text svneol=unset#text/plain
src/test/java/org/onehippo/forge/content/pojo/model/ContentNodeTest.java -text svneol=unset#text/plain
src/test/resources/log4j.xml -text svneol=unset#text/plain
src/test/resources/org/onehippo/forge/content/pojo/binder/jcr/animal-2883_640.jpg -text
src/test/resources/org/onehippo/forge/content/pojo/binder/jcr/animal-2883_640.json -text
src/test/resources/org/onehippo/forge/content/pojo/binder/jcr/news-harvest.json -text
